#!/usr/bin/env rc

path=($PLAN9/bin/ $path)

for(p in *.md) {
    echo
    echo '========================='
    echo p $p
    pp=`{echo $p | sed 's/^([0-9][0-9][0-9][0-9])-([0-9][0-9])-([0-9][0-9])[\-_](.*).md$/\1 \2 \3 \4/' }
    echo pp $pp

    d=$pp(1)^'/'^$pp(2)^'/'^$pp(3)^'/'^$pp(4)^'/'

    mkdir -p $d
    echo $pp(4) | sed -e 's/^[0-9]_//; s/_/ /g;' > $d/index.md
    echo '=================================' >> $d/index.md
    echo >> $d/index.md
    cat $p >> $d/index.md

}
